# Yarn v4 without zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo

/node_modules/
/*.log
/lib
.DS_Store
/forge-out/
/cache/
/dist/
/tmp/
.env
example-state.json
