@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

:root {
  --ifm-color-primary: #e80b93;
  --ifm-color-primary-dark: #d00a84;
  --ifm-color-primary-darker: #b8097d;
  --ifm-color-primary-darkest: #8f0659;
  --ifm-color-primary-light: #eb24a0;
  --ifm-color-primary-lighter: #ed3baa;
  --ifm-color-primary-lightest: #f470c3;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base:
    "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

[data-theme="dark"] {
  --ifm-color-primary: #ff1da6;
  --ifm-color-primary-dark: #e80b93;
  --ifm-color-primary-darker: #d00a84;
  --ifm-color-primary-darkest: #b8097d;
  --ifm-color-primary-light: #ff4db8;
  --ifm-color-primary-lighter: #ff80cc;
  --ifm-color-primary-lightest: #ffb3e0;
  --ifm-background-color: #131314;
  --ifm-background-surface-color: #1a1a1c;
  --ifm-navbar-background-color: #131314;
  --ifm-footer-background-color: #1a1a1c;
}
